body{
    background-image:url("../img/ramille-soares-unsplash.jpg") ;
    background-size: cover;
    background-color: #0d0d0d;
    opacity: 0.9;
}
.background{

}
@media screen and (min-width: 1366px) {
    .push-left{
        margin-left: 10%;
        margin-top: 15%;
    }
}
@media screen and (min-width: 1440px) {
    .push-left{
        margin-left: 11%;
        margin-top: 15%;
    }
}
@media screen and (min-width: 1600px) {
    .push-left{
        margin-left: 12%;
        margin-top: 15%;
    }
}
@media screen and (min-width: 1920px) {
    .push-left{
        margin-left: 15%;
        margin-top: 15%;
    }
}
